/*-- Body Reset --*/
body {
  overflow-x: hidden;
  color: #616971;
}

/*============= TOP BAR HEADER =============*/
.top-bar {
  background: #7aaec4;
  height: 2.8rem;
  padding: 0.5rem 0;
}
 
.top-bar a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}


/*============= NAVIGATION =============*/
.navbar {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
  z-index:1;
}

.fa-camera-retro:hover {
  color: #918151!important;
}

.nav-item {
  padding: 0.5rem 0;
}

.nav-link {
  color: #5b5555!important;
}

.nav-link.active, .nav-link:hover{
  color: #918151!important;
}

.navbar-toggler {
  color: red!important;
}


/*============= CAROUSEL =============*/
#carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}

.carousel-inner {
  max-height: 90vh!important;
}
/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1.2s ease;
}

.carousel-control-next, 
.carousel-control-prev{
  color:#918151;
  opacity: 5;
}

.carousel-control-next:hover, 
.carousel-control-prev:hover{
  color:  white;
}


/*-- Carousel Content --*/
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  
}

.bg-custom {
  background-color: #918151d8;
  border-radius: 1rem;
}

.carousel-caption h1{
  font-size: 2.2rem;
  color: white;
}

.carousel-caption h2{
  font-size: 1.5rem;
  color: white;
}

.border-primary {
  border-top: 0.2rem solid black!important;
}

.carousel-caption h3{
  font-size: 1.2rem;
  color: white;
}

.btn-lg {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: white!important;
  color: black;
  border: 0.05rem solid white!important;
}

.ansel-quote i{
  text-transform: none;
}


/*===== ABOUT US =====*/
.about {
  background: #918151;
  padding: 1rem 0;
}

.about-content {
  background-color: white;
}

/*-- Emoji Navbar --*/
.timeline {
  min-height: 0!important;
  padding: .4rem 0!important;
  background:black!important;
  text-decoration: none;
}
.timeline:hover {
  background:#918151!important;
}
.timeline .fa-film,
.timeline p{
  margin: 0 auto;
  color: white;
  font-size: 2rem;
}
a:hover{
  text-decoration: none;
}


/*===== FIXED BACKGROUND IMG =====*/
.fixed {
  background-image: url('./images/cam3.png');
  position: fixed;
}

.fixed-background {
  padding: 10rem 0;
}

.fixed-background h1,
.fixed-background h3{
  color: white;
}

.fixed-content {
  background:#918151;
  padding: 1rem;
}

/*===== PHOTOGRAPHERS =====*/
.photo {
  padding: 3rem;
}

.photo button {
  margin: 0.5rem;
}

.photo button:hover {
  background:#918151!important;
  color: white!important;
}

.photo img{
  border-radius: 1rem;
}

.modal-body blockquote {
  background:#918151;
  color: white!important;
  padding: 1rem;
}


/*============= FOOTER =============*/



/*============= SOCKET =============*/



/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  .carousel-caption h1{
    font-size: 2.8rem;
  }
  .carousel-caption h3{
    font-size: 1.8rem;
  }

}
/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
  .carousel-caption h1{
    font-size: 2.5rem;
  }
  .carousel-caption h3{
    font-size: 1.5rem;
  }
  .bt-lg{
    font-size: 0.95rem;
  }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.hero-background-img {
    background-image: url("./images/build.jpg");
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top:200px;
    padding-bottom:200px;
  }